.heading {
  margin-bottom: 10px;
  border: 0;
  border-bottom: 2px solid $primary-color;
  background-color: $secondary-color;
  overflow: hidden;
}
.heading-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
}
.pokal {
  margin-bottom: 10px;
}
.title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: $font-bold;
  text-transform: uppercase;
}
.subtitle {
  margin: 0;
  font-weight: $font-light;
  text-transform: uppercase;
}
.nav-view-appear {
  opacity: 0;
  animation: slideUp 1.5s cubic-bezier(.55,0,.1,1);
}

.nav-view-appear .nav-view-appear-active {
  opacity: 1;
}
