.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  position: relative;
}

.main-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-view-leave {
  opacity: 0;
  animation: slideOut 0.3s cubic-bezier(.55,0,.1,1);
}
.main-view-appear, .main-view-enter{
  opacity: 0;
  animation: slideDown 1s cubic-bezier(.55,0,.1,1);
}
