.heading {
  margin-bottom: 10px;
  border: 0;
  border-bottom: 2px solid $primary-color;
  background-color: $secondary-color;
}
.heading-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
}
.pokal {
  margin-bottom: 10px;
}
.title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: $font-bold;
  text-transform: uppercase;
}
.subtitle {
  margin: 0;
  font-weight: $font-light;
  text-transform: uppercase;
}
